:root {
    background-color: #ecf5ff;
    font-size: 70%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 30px;
    font-size: 24px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

p {
    font-size: 1.75em;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: rgb(47, 229, 241);
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

hr {
    border: 2px solid rgba(86, 185, 235, 0.5);
}

button {
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    cursor: pointer;
}

.startBtn {
    background-color: #56a5eb;
    color: #ffffff;
    font-size: 20px;
}

/* hides questions until after the start button is pressed */
.hide {
    display: none;
}

#submit {
    background-color: #7fb7be;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 16px;
}

.choice {
    display: block;
    background-color: #b8d0eb;
    padding: 10px 24px;
    margin: 5px;
    font-size: 16px;
    border: 2px;
}

.winners {
    display: block;
    text-align: left;
}